<a href="https://colab.research.google.com/github/bcapistrant/AdventofCode2021/blob/main/AoC_Day01_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [3]:
## Load the Drive helper and mount
#from google.colab import drive

## This will prompt for authorization.
#drive.mount('/content/drive')

In [ ]:
## After executing the cell above, Drive
## files will be present in "/content/drive/My Drive".
#!ls "/content/drive/My Drive"

In [6]:
## Using pandas read_csv to read in the AoC input, which I saved as a txt file.
## Assigning the name of the column directly, lest it assume the first value was the column header

a_df = pd.read_csv("/content/drive/MyDrive/AoC_Day01_input.txt", names=["readings"])
a_df.head()

   readings
0       157
1       158
2       167
3       157
4       148

In [44]:
## Using `shift` (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.shift.html)
## Renaming the Boolean True/False to Strings or Increased/Decreased
a_df['match'] = a_df.readings.gt(a_df.readings.shift()).map({True: 'Increased', False: 'Decreased'})

## Using `size` to count by group
a_df.groupby(['match']).size()

match
Decreased     708
Increased    1292
dtype: int64

# Part 2

In [42]:
## Reset index of previous dataframe and rename it for the second part
b_df=a_df.reset_index()

## Make a rolling sum of three rows' readings
b_df['sum3rows']= df['readings'].rolling(window=3).sum()
## Just keep the new column, drop first 2 rows (b/c first value is in 3rd row)
b_df.head()

   index  readings      match  rowsums  sum3rows
0      0       157  Decreased    482.0       NaN
1      1       158  Increased    459.0       NaN
2      2       167  Increased    462.0     482.0
3      3       157  Decreased    370.0     482.0
4      4       148  Decreased    399.0     472.0

In [43]:
## Repeat the code above to count increases and decreases.
b_df['match'] = b_df.sum3rows.gt(b_df.sum3rows.shift()).map({True: 'Increased', False: 'Decreased'})
b_df.groupby(['match']).size()

match
Decreased     738
Increased    1262
dtype: int64